target          //忽略这个target目录
angular.json    //忽略这个angular.json文件
log/*           //忽略log下的所有文件
css/*.css       //忽略css目录下的.css文件
x86/*
x64/*
Debug/*
.vs/*
MFC_OSG_MDI/x64/*
DigitalEarth/x64/*

#binary directories
bin/
obj/

#runtime gui config
imgui.ini

#visual stuido code
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

loader_example
tests/tester
tests/tester_noexcept
tests/issue-97.gltf